.loader-name {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -10px;
  margin-left: -52px;
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
}

.loader-circle {
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  position: fixed;
  top: 25%;
  left: 50%;
  border-top: 5px solid #000;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  margin-top: -90px;
  margin-left: -90px;
  -webkit-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
